atari-py==0.2.6
certifi==2020.4.5.1
cffi==1.12.3
chardet==3.0.4
cloudpickle==1.2.2
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.1
flann==1.9.1
future==0.18.2
gym==0.16.0
h5py==2.9.0
hickle==3.4.3
idna==2.9
joblib==1.2.0
kiwisolver==1.1.0
matplotlib==3.2.0
mkl-fft==1.0.12
mkl-random==1.0.2
mkl-service==2.3.0
networkx==2.4
nltk==3.4.5
numpy==1.16.4
olefile==0.46
opencv-python==4.2.0.32
Pillow==6.0.0
pycparser==2.19
pyglet==1.5.0
pyOpenSSL==19.1.0
pyparsing==2.4.6
PySocks==1.7.1
python-dateutil==2.8.1
requests==2.23.0
scikit-learn==0.22.1
scipy==1.4.1
six==1.12.0
torch==1.4.0
torchtext==0.6.0
torchvision==0.3.0
tornado==6.0.4
tqdm==4.46.0
urllib3==1.25.8
